p {
  color: #594E86;
}

h1{
  color: #845A7E;
}

h2 {
  color: #1593A2;
}

a {
  color: #1593A2;
}

body {
  color: #594E86;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.7;
  padding: 1em;
  margin: auto;
  max-width: 42em;
  background: #F5F0E3;
}

table {
  margin-left:auto;
  margin-right:auto;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #594E86;

}
th {
  padding: .2em 1em;
  color: #DE7482;
}
td {
  padding: .2em 1em;
  vertical-align: top;
  border-top: 1px solid #594E86;
}

.math {
  color: #DE7482;
}

/*Set bullet color.
  https://www.w3schools.com/howto/howto_css_bullet_color.asp*/
ul {
  list-style: none;
}
ul li::before {
  content: "\2022";
  color: #845A7E;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}